---
import ThemeToggle from "@components/ThemeToggle.svelte";
import BaseHead from "@components/layout/BaseHead.astro";
---

<html lang="da-DK">
  <head>
    <BaseHead />
  </head>

  <body>
    <header>
      <ThemeToggle client:visible />
    </header>
    <main><slot /></main>
  </body>
</html>
